/*///tells the browser to read the css file as UTF-8. 
This is handy if you CSS contains unicode characters and not only ASCII.*/
@charset "UTF-8";


/*@import "../css/spriteSheet";*/
/*//// method for importing .css file into .scss files  ////*/


body {
	font-family: Tahoma, Geneva, sans-serif;
	height: 100%;
	width: 100%;
};

body, html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	/*box-sizing: */
	font-family: 'Droid Sans', sans-serif;
	font-size: 0.95em;
	margin: 0;
	padding: 0;
}

div {
	/*outline: 1px solid #f00;*/
}

.container {
	position: fixed;
	padding: 0;
	margin: 0;
    width: 100%;
    z-index: 99999;
}

/*//////Header///////*/
.primary-header {
	display: block;
	float: left;
	position: relative;
    width: 100%;
}
.utility-header {
	font-size: 0.95em;
    line-height: 150%;
    background: #002D72;
    height: 25px;
    padding: 7px 0;
    text-align: right;
    line-height: 100%;
}
.logo {
	padding: 0 0 0 10px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.contact {
	color: #fff;
	padding: 0 30px 0 0;
	text-decoration: none;
}
.citi-header {
	height: 70px;
    padding: 15px 0;
    background-image: linear-gradient(180deg, #00bdf2, #00b3f0 18%, #0066b3 77%, #004985);
}
.brand-central {
	display: block;
    float: right;
    padding: 0 30px 0 0;
    margin: -62px 0 0 0;
}

/*//////Nav///////*/
.populate {
	background-color: #fff;
	display: block;
	box-shadow: 0 0 10px #ccc;
	height: 35px;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
.nav {
	display: block;
	float: left;
	position: relative;
    width: 100%;
}

.nav a, u {
	color: #005AA1;
	text-decoration: none;
}
.nav ul {
	display: inline-block;
	list-style: none;
	margin: 0 auto;
	top: 50%;
    transform: translateY(50%);
}

.nav li {
	cursor: pointer;
	display: inline-block;
	padding: 0 20px 0 20px;
	text-align: center;
	text-decoration: none;
	width: auto;
}

.nav li a:hover {
	color: #000;
}

.top-level {
	z-index: 4;
}

.hidden {
	display: none;
}